{% extends 'base.html.twig' %}

{% block title %}Accueil - Belle Éclat{% endblock %}

{% block body %}
<div class="jumbotron text-center">
    <h1 class="display-4">Bienvenue chez Belle Éclat</h1>
    <p class="lead">Découvrez notre collection exclusive de parfums pour tous.</p>
    <hr class="my-4">
</div>

<div class="d-flex justify-content-center">
    <div id="homeCarousel" class="carousel slide w-75" data-bs-ride="carousel">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#homeCarousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#homeCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#homeCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="{{ asset('images/img4.jpg') }}" class="d-block w-100 img-fluid" alt="Parfum 1">
                <div class="carousel-caption d-none d-md-block">
                    <h5>Parfum 1</h5>
                    <p>Description du parfum 1</p>
                </div>
            </div>
            <div class="carousel-item">
                <img src="{{ asset('images/img3.jpg') }}" class="d-block w-100 img-fluid" alt="Parfum 2">
                <div class="carousel-caption d-none d-md-block">
                    <h5>Parfum 2</h5>
                    <p>Description du parfum 2</p>
                </div>
            </div>
            <div class="carousel-item">
                <img src="{{ asset('images/img5.jpg') }}" class="d-block w-100  img-fluid" alt="Parfum 3">
                <div class="carousel-caption d-none d-md-block">
                    <h5>Parfum 3</h5>
                    <p>Description du parfum 3</p>
                </div>
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#homeCarousel" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#homeCarousel" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
  </div>
    <div class="container mt-4">
        <h2 class="text-center">Produits du Moment</h2>
        <div class="row">
            <div class="col-md-4">
                <div class="card">
                    <img src="{{ asset('images/img4.jpg') }}" class="card-img-top img-fluid" alt="Parfum 1">
                    <div class="card-body">
                        <h5 class="card-title">Parfum 1</h5>
                        <p class="card-text">Description courte du parfum 1.</p>
                        <a href="#" class="btn btn-primary">Acheter</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <img src="{{ asset('images/img3.jpg') }}" class="card-img-top img-fluid" alt="Parfum 2">
                    <div class="card-body">
                        <h5 class="card-title">Parfum 2</h5>
                        <p class="card-text">Description courte du parfum 2.</p>
                        <a href="#" class="btn btn-primary">Acheter</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <img src="{{ asset('images/img5.jpg') }}" class="card-img-top" alt="Parfum 3">
                    <div class="card-body">
                        <h5 class="card-title">Parfum 3</h5>
                        <p class="card-text">Description courte du parfum 3.</p>
                        <a href="#" class="btn btn-primary">Acheter</a>
                    </div>
                </div>
            </div>
        </div>

        <h2 class="text-center mt-5">Promotions du Moment</h2>
        <div class="row">
            <div class="col-md-4">
                <div class="card">
                    <img src="{{ asset('images/img6.jpg') }}" class="card-img-top img-fluid" alt="Parfum spécial">
                    <div class="card-body">
                        <h5 class="card-title">Promo Parfum 1</h5>
                        <p class="card-text">Description courte de la promo 1.</p>
                        <a href="#" class="btn btn-danger">Acheter</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <img src="{{ asset('images/img7.jpg') }}" class="card-img-top" alt="Promo Parfum 2">
                    <div class="card-body">
                        <h5 class="card-title">Promo Parfum 2</h5>
                        <p class="card-text">Description courte de la promo 2.</p>
                        <a href="#" class="btn btn-danger">Acheter</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <img src="{{ asset('images/img8.jpg') }}" class="card-img-top" alt="Promo Parfum 3">
                    <div class="card-body">
                        <h5 class="card-title">Promo Parfum 3</h5>
                        <p class="card-text">Description courte de la promo 3.</p>
                        <a href="#" class="btn btn-danger">Acheter</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}


