{# templates/product/enfants_bebes.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}Parfums et Coffrets pour Enfants et Bébés{% endblock %}

{% block body %}
    <h1>Parfums et Coffrets pour Enfants et Bébés</h1>

    <div class="product-grid">
        {% for product in products %}
            <div class="product-item">
                {% if product.image %}
                    <img src="{{ asset('images/products/' ~ product.image) }}" alt="{{ product.nom }}">
                {% endif %}
                <h3>{{ product.nom }}</h3>
                <p>{{ product.prix }} €</p>
                <a href="{{ path('product_show', {'id': product.id}) }}">Voir détails</a>
            </div>
        {% endfor %}
    </div>
{% endblock %}
